* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter';
  background-color: #282D35;
  background-image: url(./logo.svg);
  background-repeat: no-repeat;
  background-position: right 75%;
}
